/* UNIVERSAL STYLES */
* {
    background-color: black;
}

/* TOP BAR */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;

}

header ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    padding: 50px;
}

header a {
    text-decoration: none;
    color: skyblue;
    padding: 10px;
}

nav a:hover {
    background-color: skyblue;
    border-radius: 10px;
    padding: 10px;
    color: black;
}

header img {
    display: flex;
    justify-self: flex-start;
    height: 50px;
    padding: 50px;
    margin-left: 20px;
}

/* BODY */

.post {
    background-color: skyblue;
    color: black;
    text-align: center;
    padding: 30px;
    border: 5px dashed black;
    border-radius: 50px;
}

.title {
    background-color: skyblue;
    color: black;
    margin-bottom: -20px;
    font-size: 40px;
    text-transform: uppercase;
}

.date {
    background-color: skyblue;
    color: grey;
}

.content {
    background-color: skyblue;
    color: black;
    padding: 30px;
}

.secondarynav {
    color: skyblue;
    display: flex;
    justify-content: space-between;
}

.secondarynav a{
    text-decoration: none;
    color: skyblue;
    padding: 10px;
}

.secondarynav a:hover {
    background-color: skyblue;
    border-radius: 50px;
    color: black;
    padding: 10px;
}