/* COLOR PALETTE
#fcde67
#030e12
#5bccf6
*/

* {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: #fcde67;
    color: #030e12;
}

h1 {
    font-size: 24px;
    background-color: #5bccf6;
    padding: 20px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    border-bottom: 5px solid #030e12;
}

img {
    height: 300px;
    width: auto;
    border-radius: 10px;
    border: 1px solid black;
    margin: 75px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    background-color: #5bccf6;
    margin-left: -10px;
    margin-right: -10px;
    border-bottom: 5px solid #030e12;
    border-top: 5px solid #030e12;
}

li {
    padding: 20px;
    background-color: #5bccf6;
}

a {
    background-color: #5bccf6;
}

a:hover {
    text-decoration: none;
}
